{% extends "wagtailadmin/base.html" %}
{% load i18n wagtailadmin_tags %}

{% block titletag %}
    {% blocktrans trimmed %}Editing {{ setting_type_name }}{% endblocktrans %}
{% endblock %}
{% block bodyclass %}menu-settings{% endblock %}

{% block content %}
    <header class="nice-padding {% if tabbed %}merged tab-merged{% endif %}">
        <div class="row">
            <div class="left">
                <div class="col">
                    <h1>
                        {% icon name="cogs" class_name="header-title-icon" %}
                        {% trans "Editing" %}
                        <span>{{ setting_type_name|capfirst }}</span>
                    </h1>
                </div>
            </div>
            <div class="right"></div>
        </div>
    </header>

    <form action="{% url 'wagtailglobalsettings:edit' opts.app_label opts.model_name instance.pk %}" method="POST" novalidate{% if form.is_multipart %} enctype="multipart/form-data"{% endif %}>
        {% csrf_token %}
        {{ edit_handler.render_form_content }}

        <footer class="footer">
            <ul>
                <li class="actions dropdown dropup match-width footer__container">
                    <button type="submit" class="button button-longrunning" data-clicked-text="{% trans 'Saving…' %}">{% icon name="spinner" %}<em>{% trans 'Save' %}</em></button>
                </li>
            </ul>
        </footer>
    </form>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    {% include "wagtailadmin/pages/_editor_css.html" %}
    {{ media.css }}
{% endblock %}
{% block extra_js %}
    {{ block.super }}
    {% include "wagtailadmin/pages/_editor_js.html" %}
    {{ media.js }}
{% endblock %}
